
@media (max-width:1400px){
  .layer-left h1{
    font-size: 3.5rem;
  }
  .layer-left p{
    font-size: 1.5rem;
  }
  .layer-right h1{
    font-size: 3.5rem;
  }
  .layer-right p{
    font-size: 1.5rem;
  }
}
@media (max-width:1250px){  
  .content .text {
    font-size: 4rem;
    padding: 10px;
  }
  .content .text:before {
    left: -1rem;
  }
  .content .text:before, .content .text:after {
      top: -14px;
  }
  .layer-left h1{
    font-size: 3rem;
  }
  .layer-left p{
    font-size: 1.3rem;
  }
  .layer-right h1{
    font-size: 3rem;
  }
  .layer-right p{
    font-size: 1.3rem;
  }
}

@media (max-width:1150px){  
  .content .text {
    font-size: 3.75rem;
    padding: 10px;
  }
  .content .text:before {
    left: -1rem;
  }
  .content .text:before, .content .text:after {
      top: -14px;
  }
  
  .layer-left h1{
    font-size: 3rem;
  }
  .layer-left p{
    font-size: 1.1rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: .85rem;
  }
  .layer-right h1{
    font-size: 3rem;
  }
  .layer-right p{
    font-size: 1.1rem;
  }
  .layer-right .button{
    left: 0%;
    font-size: .85rem;
  }
}


@media (max-width:1050px){  
  .content .text {
    font-size: 3rem;
    padding: 10px;
  }
  .content .text:before {
    left: -1.3rem;
    padding: 23px;
    width: 30rem;
  }
  .content .text:before, .content .text:after {
      top: -14px;
  }
  
  .layer-left h1{
    font-size: 2.5rem;
  }
  .layer-left p{
    font-size: .9rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: .85rem;
  }
  .layer-right h1{
    font-size: 2.5rem;
  }
  .layer-right p{
    font-size: .9rem;
  }
  .layer-right .button{
    left: 0%;
    font-size: .85rem;
  }
}

@media (max-width:950px){
  .content .text {
    font-size: 2.75rem;
    padding: 10px;
  }
  .glitch .figure{
    display: none;
  }
  .glitch .figure-mask{
    display: none;
  }
  .layer-left h1{
    font-size: 2.2rem;
  }
  .layer-left p{
    font-size: .8rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: 0.65rem;
  }
  .layer-right h1{
    font-size: 2.2rem;
  }
  .layer-right p{
    font-size: .8rem;
  }
  .layer-right .button{
    left: 0%;
    font-size: 0.65rem;
  }
  .faq .container{
    max-width: 900px;
  }
}

@media (max-width:860px){
  .layer-right .button{
    left: 0%;
    font-size: 0.6rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: 0.6rem;
  }
}
@media (max-width:820px){
  .home{
    height: 85vh;
  }
  .content .text {
    font-size: 2.5rem;
    padding: 10px;
  }
  .layer-left h1{
    font-size: 2.75rem;
  }
  .layer-left p{
    font-size: .7rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: .5rem;
  }
  .layer-right h1{
    font-size: 2.75rem;
  }
  .layer-right p{
    font-size: .7rem;
  }
  .layer-right .button{
    left: 0%;
    font-size: .5rem;
  }
}

@media (max-width: 768px) {
  .home{
    height: 75vh;
  }
  .content .text {
    font-size: 2rem;
    padding: 8px;
  }
  #timer div{
    width: 90px;
    height: 90px;
    font-size: 30px;
  }
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  #previous-sponsors {
    margin-left: 0px;
  }
  #previous-sponsors .email {
    margin-left: 5px;
  }
  .social-links li a img {
    margin-left: -10px;
  }

  .social-media ul {
    width: 60%;
    margin: auto;
  }
  .social-links {
    margin-left: -12px;
  }
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }
  nav #brand {
    margin-left: 24px;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
  .faq-img{
    display: none;
  }
  .layer-left h1{
    font-size: 4rem;
  }
  .layer-left p{
    font-size: 1.8rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: 1rem;
  }
  .layer-right h1{
    font-size: 4rem;
  }
  .layer-right p{
    font-size: 1.8rem;
  }
  .layer-right .button{
    left: 0%;
    font-size: 1rem;
  }
}

@media(max-width: 670px){
  .home{
    height: 55vh;
  }
  .content .text {
    font-size: 2rem;
    padding: 8px;
  }
  .clock{
    width: 100%;
    text-align: center;
  }
  .events h3{
    font-size: 4rem;
  }
  .layer-left h1{
    font-size: 3rem;
  }
  .layer-left p{
    font-size: 1.5rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: 1rem;
  }
  .layer-right h1{
    font-size: 3rem;
  }
  .layer-right p{
    font-size: 1.5rem;
  }
  .layer-right .button{
    left: 5%;
    font-size: 1rem;
  }
  #timer div {
    background: #101212;
    color: #fff;
    width: 85px;
    height: 91px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1rem;
    font-size: 31px;
    font-weight: 700;
  }
}
@media(max-width: 600px){
  .events h3{
    font-size: 3rem;
  }
  .layer-left h1{
    font-size: 2.75rem;
  }
  .layer-left p{
    font-size: 1.2rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: 1rem;
  }
  .layer-right h1{
    font-size: 2.75rem;
  }
  .layer-right p{
    font-size: 1.2rem;
  }
  .layer-right .button{
    left: 5%;
    font-size: 1rem;
  }
}
@media(max-width: 550px){
  .home{
    height: 55vh;
  }
  .content .text {
    font-size: 1.7rem;
    padding: 4px;
    transform: scale(1.5);
  }
  #timer div {
    width: 60px;
    height: 60px;
    margin-top: -2rem;
    font-size: 25px;
    font-weight: 700;
  }
  .clock{
    width: 100%;
    text-align: center;
  }
  .content .text:before, .content .text:after {
      top: -21.5px;
  }
  .content .text:before {
    left: -1.5rem;
    padding: 23px;
    width: 40rem;
  }
   .events h3{
    font-size: 3rem;
  }
  .layer-left h1{
    font-size: 2.25rem;
  }
  .layer-left p{
    font-size: 1.1rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: .9rem;
  }
  .layer-right h1{
    font-size: 2.25rem;
  }
  .layer-right p{
    font-size: 1.1rem;
  }
  .layer-right .button{
    left: 5%;
    font-size: .9rem;
  }
}

@media(max-width: 450px){
  .home{
    height: 40vh;
  }
  .content .text {
    font-size: 1.1rem;
    padding: 4px;
    transform: scale(2);
  }
  #timer div {
    width: 60px;
    height: 60px;
    margin-top: 3rem;
    font-size: 25px;
    font-weight: 700;
  }
  .content .text:before, .content .text:after {
      top: -26px;
  }
  .content .text:before {
      left: -24px;
      width: 100%;
  }
  .events h3{
    font-size: 2.75rem;
  }
  .layer-left h1{
    font-size: 2rem;
  }
  .layer-left p{
    font-size: .8rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: .6rem;
  }
  .layer-right h1{
    font-size: 2rem;
  }
  .layer-right p{
    font-size: .8rem;
  }
  .layer-right .button{
    left: 5%;
    font-size: .6rem;
  }
}


@media(max-width: 415px){
  .content .text {
    margin-top: 2rem;
    font-size: .8rem;
    padding: 4px;
    transform: scale(2);
  }
  #timer div {
    width: 45px;
    height: 45px;
    margin-top: 3rem;
    font-size: 15px;
    font-weight: 700;
  }
  .content .text:before, .content .text:after {
      top: -26px;
  }
  .content .text:before {
      left: -24px;
      width: 100%;
  }
  .events h3{
    font-size: 2rem;
  }
  .layer-left h1{
    font-size: 1.75rem;
  }
  .layer-left p{
    font-size: .8rem;
  }
  .layer-left .button{
    right: 0%;
    font-size: .4rem;
    padding: 0.275rem 0.5rem;
    bottom: 20px;
  }
  .layer-right h1{
    font-size: 1.75rem;
  }
  .layer-right p{
    font-size: .8rem;
  }
  .layer-right .button{
    left: 5%;
    font-size: .4rem;
    padding: 0.275rem 0.5rem;
    bottom: 20px;
  }
}

@media (max-width: 350px) {
  .events h3{
    font-size: 2rem;
  }
  .layer-left h1{
    font-size: 1.75rem;
  }
  .layer-left p{
    font-size: .7rem;
  }
  .layer-left .button{
    right: 0%;
    bottom: 1.2rem;
    font-size: .4rem;
  }
  .layer-right h1{
    font-size: 1.75rem;
 }
  .layer-right p{
    font-size: .7rem;
  }
  .layer-right .button{
    left: 5%;
    bottom: 1.2rem;
    font-size: .4rem;

  }
}
@media (min-width: 769px) {
  #resize {
    visibility: hidden !important;
  }
}
/* @media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
} */


@media (max-width: 768px) {
  
}



@media (max-width: 768px) {
  
}
@media (max-width: 988px) {
  #explore h3 {
    text-align: center;
  }
  #explore h4 {
    text-align: center;
  }
  .follow-us ul {
    width: 64%;
  }
  .social-links li {
    width: 65%;
    margin: auto;
  }
  #contact-info h4 {
    width: 21%;
    margin: auto;
    padding-top: 10px;
  }
  
}
@media (max-width: 441px) {
  .social-links li {
    margin-left: 0px;
  }

  .social-links li a img {
    margin-left: -20px;
  }
  .social-media ul {
    width: 79%;
    margin: auto;
  }

  #contact-info h4 {
    width: 42%;
    margin: auto;
    padding-top: 10px;
  }

  .odd {
    margin-left: 0px !important;
  }
  .even {
    margin-left: 0 !important;
  }
  .about-bg{
    top: -10rem;
    height: 24rem;
 }
}
@media (max-width: 320px) {
  .social-links {
    margin-left: -21px;
  }
  .social-links li {
    margin-right: 10px;
  }
  .about-bg{
     top:-10rem;
     height: 24rem;
  }
}